<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snikpik.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:name=".helper.SnikPikApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LoginTheme">
        <service
            android:name="com.snikpik.android.services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.snapchat.kit.sdk.clientId"
            android:value="Your SnapKit Production Key goes here" />

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>

        <activity
            android:name="com.snikpik.android.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.snikpik.android.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.snikpik.android.ExpressFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- Modify this intent filter based on your dynamic link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="snikpik.page.link"
                    android:scheme="https" />
                <data
                    android:host="www.snik.com"
                    android:scheme="https" />
                <data
                    android:host="snikpik.page.link"
                    android:scheme="http" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.snikpik.android.ShowResultsActivity"
            android:theme="@style/LoginTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snikpik.android.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.snikpik.android.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.snikpik.android.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.snikpik.android.DeleteAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.snikpik.android.ReplyInSnapActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.snikpik.android.BlacklistedActivity" />
        <activity android:name="com.snikpik.android.WebViewActivity" />

        <activity android:name="com.snikpik.android.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>